body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6em;
    overflow: hidden;
}

.imgrotate {
    animation: rotatejojo 100ms infinite;
}

.ishrek {
    visibility: hidden;
}

.ifloppa {
    visibility: visible;
    animation: rotateshrek 100ms infinite;
}

#floppa {
    width: 15vw;
    transform: rotate3d(2, -1, -1, -0.2turn);
}

#jojoimg {
    position: absolute;
    animation: rotatejojoimg 5s infinite;
}

.shrek {
    visibility: visible;
    width: 20vw;
    animation: rotateshrek 100ms infinite;
}

#accueil {
    position: absolute;
}

.Aspan {
    animation: text 700ms infinite;
}

@keyframes rotatejojoimg {
    0% {
        transform: rotate(-500deg);
    }
    33% {
        transform: rotate(-250deg);
    }
    66% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(-500deg);
    }
}

@keyframes rotateshrek {
    0% {
        width: 10vw;
        transform: rotate(0deg);
    }
    100% {
        width: 150vw;
        transform: rotate(360deg);
    }
}

@keyframes rotatejojo {
    0% {
        transform: rotate(0deg);
        height: 50vh;
        width: 30vw;
    }
    33% {
        transform: rotate(120deg);
    }
    66% {
        transform: rotate(240deg);
    }
    100% {
        transform: rotate(360deg);
        height: 30vh;
        width: 10vw;
    }
}

@keyframes text {
    0% {
        transform: skewY(0deg);
    }
    33% {
        transform: skewY(120deg);
    }
    66% {
        transform: skewY(240deg);
    }
    100% {
        transform: skewY(360deg);
    }
}

@keyframes bcanimation {
    0% {
        background-color: red;
        filter: contrast(15);
        filter: brightness(20)
    }
    100% {
        background-color: yellow;
        filter: contrast(15);
        filter: brightness(20)
    }
}

.bodyanimation {
    animation: bcanimation 256ms infinite;
}

p {
    width: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.bubble {
    background-image: url("../medias/images/jojo.png");
    position: absolute;
    border-radius: 0.3em;
    opacity: 0.5;
    animation: anim 8s forwards;
    filter: hue-rotate(0deg);
}

@keyframes anim {
    to {
        top: -50vh;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}